<!DOCTYPE html>
<html ng-app="Calculadora">

<head>
    <meta charset="utf-8">
    <title>Hello World - Calculadora</title>
    <script src="js/angular.js"></script>
    <script src="App.js"></script>
    <script src="js/OperacaoService.js"></script>
    <script src="js/CalculadoraController.js"></script>
</head>

<body ng-controller="CalculadoraController">
    <h3>
        {{mensagem}}
    </h3>
    <form name="form">
        <div>
            <input type="number" name="valor" id="valor" required="true" ng-model='valor' /> Valor Total: {{getValorTotal()}}
        </div>
        <button ng-click="incrementar()">Incrementar</button>
        <button ng-click="somar(valor)">Somar</button>
        <button ng-click="diminuir(valor)">Diminuir</button>
        <button ng-click="multiplicar(valor)">Multiplicar</button>
        <button ng-click="dividir(valor)">Dividir</button>
    </form>
</body>

</html>