<!DOCTYPE html>
<html ng-app="Calculadora">

<head>
    <meta charset="utf-8">
    <title>Hello World - Calculadora</title>
    <script src="angular.js"></script>
    <script>
        angular.module("Calculadora", []);
        angular.module("Calculadora").controller("CalculadoraController", function($scope) {
            $scope.mensagem = "Calculadora";
            $scope.valor = 0;
            $scope.valorTotal = 0;

            function isValid(valor) {
                return valor && angular.isDefined(valor);
        }

        $scope.incrementar = function() {
            return $scope.valorTotal += 1;
        }

        $scope.somar = function() {
            if (isValid($scope.valor))
                $scope.valorTotal += $scope.valor;
        }

        $scope.diminuir = function() {
            if (isValid($scope.valor))
                $scope.valorTotal -= $scope.valor;
        }

        $scope.multiplicar = function() {
            if (isValid($scope.valor))
                $scope.valorTotal *= $scope.valor;
        }
        $scope.dividir = function() {
            if (isValid($scope.valor))
                $scope.valorTotal /= $scope.valor;
        }

        });
    </script>
</head>

<body ng-controller="CalculadoraController">
    <h3>
        {{mensagem}}
    </h3>
    <div>
        <input type="number" required="true" ng-model='valor' /> Valor Total: {{valorTotal}}
    </div>
    <button ng-click="incrementar()">Incrementar</button>
    <button ng-click="somar()">Somar</button>
    <button ng-click="diminuir()">Diminuir</button>
    <button ng-click="multiplicar()">Multiplicar</button>
    <button ng-click="dividir()">Dividir</button>
</body>

</html>
