<!DOCTYPE html>
<html ng-app="Calculadora">

<head>
    <meta charset="utf-8">
    <title>Hello World - Calculadora</title>
    <script src="angular.js"></script>
    <script>
        angular.module("Calculadora", []);
        angular.module("Calculadora").controller("CalculadoraController", function($scope) {
            $scope.mensagem = "Calculadora";
            $scope.valor = 0;

            var valorTotal = 0;

            function isValid(valor) {
                return valor && angular.isDefined(valor);
            }

            $scope.incrementar = function() {
                valorTotal += 1;
            }

            $scope.somar = function(valorParaSomar) {
                debugger;
                if (isValid(valorParaSomar))
                    valorTotal += valorParaSomar;
            }

            $scope.diminuir = function(valorParaDiminuir) {
                if (isValid(valorParaDiminuir))
                    valorTotal -= valorParaDiminuir;
            }

            $scope.multiplicar = function(valorParaMultiplicar) {
                if (isValid(valorParaMultiplicar))
                    valorTotal *= valorParaMultiplicar;
            }
            $scope.dividir = function(valorParaDividir) {
                if (isValid(valorParaDividir))
                    valorTotal /= valorParaDividir;
            }

            $scope.getValorTotal = function() {
                return valorTotal;
            }

        });
    </script>
</head>

<body ng-controller="CalculadoraController">
    <h3>
        {{mensagem}}
    </h3>
    <form name="form">
        <div>
            <input type="number" name="valor" id="valor" required="true" ng-model='valor' /> Valor Total: {{getValorTotal()}}
        </div>
        <button ng-click="incrementar()">Incrementar</button>
        <button ng-click="somar(valor)">Somar</button>
        <button ng-click="diminuir(valor)">Diminuir</button>
        <button ng-click="multiplicar(valor)">Multiplicar</button>
        <button ng-click="dividir(valor)">Dividir</button>
    </form>
</body>

</html>